@import '../../Styles/Global.scss';

.rPhoto img {
    width:550px;
    
}
.roentgenMain {
    height: 630px;
}
.roentgenContent {
    align-items: center;
    align-self: center;
    height: 400px;
}
.rbigContainer {
    background-color: #04a099;
    color: #FFFFFF;
}

@media screen and (max-width:576px) {
    
}.rPhoto img {
    width: 100%;
}
.btnForm {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}