@import '../../Styles/Global.scss';

.rPhoto img {
    width:550px;
    
}
.roentgenMain {
    height: 630px;
}
.roentgenContent {
    align-items: center;
    align-self: center;
    height: 400px;
}
.rbigContainer {
    background-color: #04a099;
    color: #FFFFFF;
}