@import '../../Styles/Global.scss';

.tedaviBaslik {
    text-align: center;
    margin-top: 35px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 7.1px;
    font-size: 70px;
    opacity: 1;
    background-image: linear-gradient(180deg,darkblue, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mainTedavi img{
    height: 250px;
}

