@import '../../Styles/Global.scss';

.tedaviBaslik {
    text-align:center;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 7.1px;
    font-size: 60px;
    opacity: 1;
    background-image: linear-gradient(180deg,rgb(0, 0, 95), white 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #f6f6f6;
    
    
}
.mainTedavi img{
    height: 220px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.mainTedavi img:hover{
    opacity: 1;
    filter: alpha(opacity=100);
    transition: 1s;
}
.mainTedavi {
    color : rgb(5, 5, 115);
    background-color: white;
    width: 100%;
    text-align: center;
    
    
}
.mainTedaviLabel {
    color: rgba(62, 209, 160, 0.8);
    font-weight:400;
    text-align: center;
}
.tedaviContainer {
    background-color:white ;
    justify-content: space-evenly;
    align-items: center;
    height: 1000px;
    display: flex;
}
.cardBg {
    text-align: center;
    display: flex;
}
.btnTdv {
    background-color: transparent;
    color: darkblue;
}
.btnTdv:hover {
    background-color: rgba(29, 166, 121, 0.8) ;   
}

