@import  '../../Styles/Global.scss';

.tourismImg img{
    height: 330px;
    padding-left: 20px ;
}
.tourismContainer{
    height: 1300px;
}
.tourismLabel {
    font-style: italic;
    font-family:"Playfair Display Italic Font";
    font-weight: 600;
    font-size: 35px;
    color:rgb(16, 208, 144);
}
.tourismContainer {
    background-color: rgba(255, 255, 255,.9);
}
.tourismText {
    text-align: center;
}
.tourismTextLabel {
    color: rgb(18, 226, 156);
}