@import  '../../Styles/Global.scss';

.tourismImg img{
    height: 330px;
    
}
.tourismContainer{
    height: 2400px;
}
.tourismLabel {
    font-style: italic;
    font-family:"Playfair Display Italic Font";
    font-weight: 600;
    font-size: 35px;
    color:rgb(16, 208, 144);
}
.tourismContainer {
    background-color: rgba(255, 255, 255,.9);
}
.tourismText {
    text-align: center;
    
}
.tourismTextLabel {
    color: rgb(18, 226, 156);
    text-align: center;
    
}
.btnTourismRoentgen {
   width: 200px;
   text-align: center;
   border-radius: 12px;
}
.main1 {
    display: flex;
    align-items: center;
}
.vitoPhoto {
    width: 320px;
}
.tourismContainer img {
    width: 320px;
}
@media screen and (min-width:576px) {
    .tourismContainer{
        height: 1800px;
    }
    .vitoPhoto{
        width: 800px;
    }
    .imgRnt {
        margin-top: 20px;
    }
}