@import './Colors.scss';
@import './Constants.scss';

body {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(248, 248, 245);
}

@media (max-width: $media-md) {
    h3,
    h4,
    h5,
    p,
    h2 {
        text-align: center;
    }
        .navbar-light {
        .navbar-toggler {
            border-color: $white !important;
        }
        .navbar-toggler-icon {
        background-color: $white;
        }
    }
}