@import './Colors.scss';
@import './Constants.scss';

 

body {
    font-family: 'Oswald', sans-serif;
    background-color: #dfe8fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: $media-md) {
    h3,
    h4,
    h5,
    p,
    h2 {
        text-align: center;
    }
        .navbar-light {
        .navbar-toggler {
            border-color: $white !important;
        }
        .navbar-toggler-icon {
        background-color: #E2E6EF;
        }
    }
}
