@import './Global.scss';

.treatmentContentContainer {
    height: 950px;
    
}
.brHidden{
    display: none;
}
.treatmentContentContainer img {
    
    width: 340px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px;
}
.treatmentLabel {
    font-weight: 500;
    color: rgb(0, 137, 91);
    
}
.treatmentMainLabel {
    font-style: italic;
    font-family:"Playfair Display Italic Font";
    font-weight: 600;
    font-size: 25px;
    color:rgb(16, 208, 144);
}
.treatmentMainP {
    font-size: 17px;
    align-content: center;
    text-align:left;
}
@media screen and (min-width:576px) {
    .treatmentContentContainer img {
        height: 400px;
        width: 500px;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px;
    }
    .treatmentMainP{
        font-size: 20px;
    }
    .treatmentContentContainer{
        height: 600px;
    }
}