@import  '../../Styles/Global.scss';

.headerContainer {
    background-color: white;
    height: 39px;
}
.headerPhone {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flags {
    height: 15px;
    margin-right: 10px;
    margin-bottom: 3px;
}
.drdown {
    color: black !important;
    border-radius: 10px;
}
.phoneStart {
    color: gray;
    margin-right: 4px;
}
.headerLabel {
    color:  rgba(1, 42, 78, 0.8);
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
}
.headerIcon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.headerTrzm {
    display: flex;
    margin-top: 7px;
}
.languageFlag {
    display: flex;
    justify-content: end;
}