@import  '../../Styles/Global.scss';

.headerContainer {
    background-color: white;
    height: 39px;
}




.headerPhone {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flags {
    height: 15px;
    margin-right: 10px;
    margin-bottom: 3px;
}
.drdown {
    color: black !important;
    border-radius: 10px;
    height: 30px;
}
.phoneStart {
    color: gray;
    margin-right: 4px;
}
.headerLabel {
    color:  rgba(1, 42, 78, 0.8);
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
}
.headerIcon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.headerTrzm {
    display: flex;
   // margin-top: 7px;
    color: rgba(255, 255, 255,.9);
    padding-top: 5px;
    //background-color: rgb(4, 201, 135);
    background-color: rgb(232, 5, 5);
    border: none;
    border-radius: 10px;
    line-height: 0;
    align-items: center;
    text-align: center;
    
    
}
.languageFlag {
    display: flex;
    justify-content: end;
}
.aIcon {
    color: darkblue;    
}
.aIcon2 {
    color: rgba(226, 55, 226,.9);
}
.headerTourismLabel {
    text-align: center;
    align-items: center;
    font-size: 14px;
    padding-top: 5px;
}

@media screen and (max-width:576px){
    .headerTrzm{
        height: 33px;
        margin-bottom: 40px;
        border-radius: 5px;
        
    }
    .aIcon{
        padding-bottom: 40px;
        margin-right: 20px;
    }
    .aIcon2{
        padding-bottom: 40px;
        margin-right: 20px;
    }
    .headerTourismLabel {
        font-size: 11px;
    }
    .headerPhone2{
        display: none;
    }
    .phoneIcon {
        
        margin-bottom: 40px;
        color: rgb(55, 241, 55);
        font-size: 20px;
        margin-right: 20px;
    }
    .langText {
        display: none;
    }

}