@import '../../Styles/Global.scss';

.appointmentLabel {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 15px;
    color: rgb(255, 240, 221)
  
}


.appointmentBox h1 {
    font-weight: 400;
    font-size: 60px;
    align-self: center;
}


.appointmentContainer {
    background:linear-gradient(115deg,#0bbab1 0%,#57f1d5 100%);
    height: 450px;
        
}
.formCntrl {
    border-radius:  30px;
    width: 300px;
    justify-content: center;
    display: flex;
}

.formCntrl2 {
    border-radius: 20px;
    margin-bottom: 20px;
    max-width: 41%;
    margin-left: 20px;
    
}
.appointmentGenel {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;

}
.formMsg {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: auto;
}
.btnForm {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.btnForm button {
    border-radius: 10px;
    background-color: darkblue;
}