@import '../../Styles/Global.scss';

.aboutMe {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif !important;
}

.aboutPhoto {
    justify-content: center;
    display: flex;
}
.aboutPhoto img {
    width: 330px;
}

.aboutGnl {
    color: gray;
    background-color: rgba(254, 254, 254, 0.9);
    align-items: center;
    align-self: center;
}

@media screen and (min-width:576px) {
    .aboutGnl {
        color: gray;
        background-color: rgba(254, 254, 254, 0.9);
        height: 450px;
        align-items: center;
        align-self: center;
    }
}