@import '../../Styles/Global.scss';

.navBar{
    background-color:#000050;
    margin-top: 40px;
    
}


.activeNavBar {

    background-color: black;
}
.navBarCustom{

    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
}


.navLink{
    color: white;
    text-decoration: none;
}

.menuLink{

    color: white;
}


.basicNavDropdown>a {

    color: white !important;
}
.btnNav {
    background-color: rgb(95, 252, 200);
    color: #000050;
    margin-left: 30px;
    padding-right: 20px;
}
.btnNav2 {
    background-color: rgb(95, 252, 200);
    color: #000050;
    margin-left: 10px;
    padding-right: 20px;

}

@media screen and (max-width:576px){
    .btnNav{
        width: 120px;
        height: 40px;
        font-size: 14px;
       // margin-right: 50px;
    }
    .btnNav2{
        
        display: none;
       
    }
}
