@import '../../Styles/Global.scss';

.navBar{
    background-color:transparent;
    

    
  
    
}
.activeNavBar {

    background-color: black;
}
.navBarCustom{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.navLink{
     color:$primaryColor;
}

.menuLink{

    color:white;
    filter: brightness(130%);
}


.basicNavDropdown>a {

    color: rgb(3, 90, 61) !important;
}
