@import '../../Styles/Global.scss';

.slider {
    margin-top: 2.5rem;
    object-fit: cover;
    image-orientation: flip;
    margin-bottom: 1rem;
    
}
.simg {
    height: 550px;
    width: 100%;
}
.labels {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 230px;
    margin-right: 700px;
    color: rgb(248, 236, 221);

}
.labels2 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 230px;
    margin-left: 700px;
    color: rgb(248, 236, 221);
}
.carousel-indicator {
    visibility: hidden;
}