@import '../../Styles/Global.scss';

.slider {
    margin-top: 2.5rem;
    object-fit: cover;
    image-orientation: flip;
    margin-bottom: 1rem;
    
}
.simg {
    height: 700px;
    width: 100%;
}
.labels {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 330px;
    margin-right: 700px;

}
.labels2 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 330px;
    margin-left: 700px;

}
.carousel-indicator {
    visibility: hidden;
}