@import '../../Styles/Global.scss';

.slider {
    margin-top: 6.8rem;
    object-fit: cover;
    image-orientation: flip;
    
    
}
.simg {
    height: 650px;
    width: 100%;
}
.labels {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-right: 700px;
    color: rgb(248, 236, 221);

}


.carousel-indicator {
    visibility: hidden;
}