@import '../../Styles/Global.scss';


.slider img {
    height: 795px;
    
    
}
.labels {
    font-size: 50px;
    font-weight: 600;
    color: rgb(248, 238, 229);
    position: absolute;
    bottom:230px;
    left: 20px;
}

.slider {
    height: 800px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.carousel-control-prev {
    border: none;
}
.carouselIndicators  {
    position: absolute !important;
    right: 80px !important;
    top: 210px !important;
    background-color: transparent !important;
    
    
}
.btnSlider {
    background-color: transparent;
    color: rgb(247, 111, 96);
    font-size: 20px;
    border: none;
    margin-bottom: 20px;
    padding: 3px 0;
    font-weight: 400;
    opacity: 0.8;
    filter: brightness(200%);
    
    
}
.btnSlider:hover {
    color: white;
    transition: .64s;
}
.btnLi {
    list-style: none;
    display: list-item;
}
.btnLi:hover {
    transition: .64s;
    color: whitesmoke;
    list-style:initial
}
button:focus {
    outline:none !important;
}
.carousel-item {
    position: relative;
}
.labels2 {
    font-size: 50px;
    font-weight: 600;
    color: rgb(248, 233, 221);
    position: absolute;
    bottom:330px;
    //right: -40px;
}
.carouselImg {
    filter: brightness(95%);
    filter: contrast(90%)
}
.carouselImg2 {
    filter: brightness(140%);
}
@media screen and (max-width:576px){
    .labels{
        font-size: 20px;
    }
    .labels2{
        font-size: 20px;
    }
}