@import '../../Styles/Global.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



.mainText {
    font-weight: 500;
    color: rgba(0, 173, 115, 0.8);
    //font-family:serif; 
    text-align: center;   
    margin-top: 10px;
}
.mainText:hover {
    filter: brightness(200%);
    transition: 1s;
}
.mainText2 {
    color: rgb(0, 0, 63);
    //font-family: "Gilroy", Sans-serif;
    margin-top: 15px;
    font-size: 17px;
    margin-top: 25px;
}
.mainText2:hover {
       font-size: 19px; 
       transition: 1s;
}

.mainFoto{
    
    display: flex;
    height: 450px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    filter: contrast(150%);
-webkit-filter: contrast(120%);
-moz-filter: contrast(120%);
-o-filter: contrast(120%);
-ms-filter: contrast(120%);
justify-content: center;

    
}

.mainAna {
    background-color: #fae4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    filter: brightness(110%);
   
}

.mainBox {
    align-self: center;
    text-align:justify;
    
    
}
.mainFoto img {
    border-radius: 10px ;
    height: 400px;
    
   
}
.mainText3 {
    //font-family: 'Oswald', sans-serif !important;
    font-style:italic;
    margin-top: 40px;
    font-weight: 575;
    color:rgba(2, 119, 80, 0.8);
    filter: brightness(140%);
    text-align: center;
}

.mainText3:hover {
    filter: brightness(500%);
    font-size: 35px;
    transition: 1s;
}

@media  screen and (max-width:576px) {
    .mainFoto img{
        width: 200px;
    }
}