@import '../../Styles/Global.scss';

.mainContent {
    background-color: rgb(224, 243, 243);
    height: 350px;
}
.mainContent img {
    height: 350px;
    max-width: 250px;
}
.mainText {
    font-weight: 700;
    color: rgb(60, 60, 200);
    font-family:serif;
    
    
}
.mainText2 {
    color: rgb(94, 94, 204);
    font-family:serif;
}
.mainBox {
    margin-top: 60px;
    margin-left: 100px;
}

