@import '../../Styles/Global.scss';



.mainText {
    font-weight: 700;
    color: rgba(89, 202, 165, 0.8);
    font-family:serif; 
    text-align: center;   
    margin-top: 10px;
}
.mainText:hover {
    color: darkblue;
    transition: 1s;
}
.mainText2 {
    color: rgb(5, 5, 115);
    font-family: "Gilroy", Sans-serif;
    margin-top: 15px;
    font-size: 17px;
    margin-top: 25px;
}
.mainText2:hover {
       font-size: 25px; 
       transition: 1s;
}
.mainBox {  
    // justify-content: center;
    // text-align: justify;
    // align-items: center;
   
}
.mainFoto{
    
    display: flex;
    height: 350px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    
}
.mainFoto:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    transition: 2s;
}
.mainAna {
    background-color: #ededf7;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

